@font-face {
	font-family: 'drop';
	src:url('../fonts/drop.eot?-bku20s');
	src:url('../fonts/drop.eot?#iefix-bku20s') format('embedded-opentype'),
		url('../fonts/drop.ttf?-bku20s') format('truetype'),
		url('../fonts/drop.woff?-bku20s') format('woff'),
		url('../fonts/drop.svg?-bku20s#drop') format('svg');
	font-weight: normal;
	font-style: normal;
}

span[class^="drop"], span[class*=" drop"],
a[class^="drop"], a[class*=" drop"] ,
i[class^="drop"], i[class*=" drop"]  {
	font-family: 'drop';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.main-menu span[class^="drop"], .main-menu span[class*=" drop"],
.main-menu a[class^="drop"], .main-menu a[class*=" drop"] ,
.main-menu i[class^="drop"], .main-menu i[class*=" drop"]  {
	font-size: 20px;
}

.dropbathroom:before {
	content: "\e600";
}
.dropbathtub:before {
	content: "\e601";
}
.dropdishwasher:before {
	content: "\e602";
}
.dropearn:before {
	content: "\e603";
}
.dropinsight:before {
	content: "\e604";
}
.dropmeter:before {
	content: "\e605";
}
.droppartecipation:before {
	content: "\e606";
}
.droppartecipation2:before {
	content: "\e607";
}
.droppen:before {
	content: "\e608";
}
.dropreward:before {
	content: "\e609";
}
.dropshower:before {
	content: "\e60a";
}
.dropsink:before {
	content: "\e60b";
}
.droptubshower:before {
	content: "\e60c";
}
.dropwashingmachine:before {
	content: "\e60d";
}
.dropwater:before {
	content: "\e60e";
}
.dropinvite:before {
    content: "\e900";
}